@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #0d0d0d;
  --color-secondary: #00579a;
}