@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #0d0d0d;
  --color-secondary: #00579a;
  --color-third: #3498db;

  --color-sidebar-bg: #00579a; /* N盻］ chﾃｭnh (t盻ｫ --color-secondary) */
  --color-sidebar-text: #dbeafe; /* Ch盻ｯ (mﾃu blue-100) */
  --color-sidebar-text-active: #ffffff; /* Ch盻ｯ khi active (mﾃu tr蘯ｯng) */
  --color-sidebar-hover: #0066b3; /* N盻］ khi hover (ﾄ黛ｺｭm hﾆ｡n 1 chﾃｺt) */
  --color-sidebar-active: #0077cc; /* N盻］ khi active (sﾃ｡ng nh蘯･t) */
  --color-sidebar-border: #004c8a;

  /*
   * ==========================================
   * 沁ｨ MﾃU CHO SUB-MENU (Menu con)
   * ==========================================
   */
  --color-submenu-bg: #3498db; /* N盻］ chﾃｭnh (mﾃu b蘯｡n ch盻肱) */
  --color-submenu-text: #ecf0f1; /* Ch盻ｯ (mﾃu tr蘯ｯng mﾃ｢y) */
  --color-submenu-text-active: #ffffff; /* Ch盻ｯ khi active (tr蘯ｯng tinh) */
  --color-submenu-hover: #2980b9; /* N盻］ khi hover (xanh ﾄ黛ｺｭm hﾆ｡n) */
  --color-submenu-active: rgb(28, 87, 147); /* N盻］ khi active (xanh ﾄ粗n) */
  --color-submenu-border: #2980b9; /* Vi盻］ (xanh ﾄ黛ｺｭm hﾆ｡n) */
}
